@charset "utf-8";
/* jbw v1.64 */

/* 모바일 패치 font-size:14px;*/
/**{-webkit-text-size-adjust:none;}*/

/*디자인모드*/
a, img{temp:expression(this.hideFocus=true);outline:none;}
/*접근성모드*/
/*a:focus{outline:dotted 2px #ff7777;outline-offset:-2px;}*/

/* 구글 나눔고딕 방식 그대로 가져온 소스
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(NanumGothic-Regular.eot);
  src: url(NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(NanumGothic-Regular.woff2) format('woff2'),
       url(NanumGothic-Regular.woff) format('woff'),
       url(NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(NanumGothic-Bold.eot);
  src: url(NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(NanumGothic-Bold.woff2) format('woff2'),
       url(NanumGothic-Bold.woff) format('woff'),
       url(NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(NanumGothic-ExtraBold.eot);
  src: url(NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(NanumGothic-ExtraBold.woff2) format('woff2'),
       url(NanumGothic-ExtraBold.woff) format('woff'),
       url(NanumGothic-ExtraBold.ttf) format('truetype');
}

.ngw,
.ngw *
{font-family:Nanum Gothic, "나눔고딕" !important;}
.ngw_b,
.ngw_b *
{font-family:Nanum Gothic, "나눔고딕" !important;font-weight:bold !important;}

/* @init_font */
body
, .init *
, a:link, a:visited
, input[type=text], input[type=password], input[type=file], select
, h5, h6
,textarea{font-family:Nanum Gothic, "나눔고딕", "돋움", tahoma;font-size:12px;color:#555;line-height:1.6em;}/*font-family : 기본값 한글로 써야 오페라까지 잘 먹음*/

/* @basic tag */
html {height:100%;overflow-y:scroll;}
body {height:100%;margin:0px;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;color:black;}
a:active {text-decoration:none;}
caption,legend,caption *,legend *{position:absolute;left:-10000px;line-height:0;font-size:0;}
fieldset{border:solid 0px black;padding:0;}
img{border:0px;}

/* @.init */
.init,
.init *{margin:0;padding:0;}/* vertical-align:middle; 에디터에서 레이아웃틀어짐 */
.init li{list-style: none;}
.init img{vertical-align:middle;}/*top or middle*/
.init a{vertical-align:middle;}
.init table{border-collapse:collapse;width:100%;}

/* @state */
.bc-c{border-collapse:collapse !important;}
.bd-n{border:none !important;}
.bd-0{border:0 !important;}
.bg-n{background:none !important;}
.bt-n{border-top:none !important;}
.bb-n{border-bottom:none !important;}
.bl-n{border-left:none !important;}
.br-n{border-right:none !important;}
.d-b {display:block !important;}
.d-ib {display:inline-block}
.d-n {display:none;}
.d-tc {display:table-cell !important;}
.h-100p{height:100% !important}
.o-h{overflow:hidden !important;}
.p-r{position:relative !important;}
.sp-c-2>*{margin:0 2px !important;}
.sp-c-4>*{margin:0 4px !important;}
.sp-c-6>*{margin:0 6px !important;}
.sp-c-8>*{margin:0 8px !important;}
.ta-j{text-align:justify !important;}
.taj-c>*{text-align:justify !important;}
.taj-cc *{text-align:justify !important;}
.ta-c{text-align:center !important;}/*taj 보다 아래로 온다*/
.ta-c-c>*{text-align:center !important;}
.ta-c-cc *{text-align:center !important;}
.ta-l{text-align:left !important;}
.ta-l-c>*{text-align:left !important;}
.ta-l-cc *{text-align:left !important;}
.ta-r{text-align:right !important;}
.ta-r-c>*{text-align:right !important;}
.ta-r-cc *{text-align:right !important;}
.va-t{vertical-align:top !important;}
.va-t-c>*{vertical-align:top !important;}
.va-t-cc *{vertical-align:top !important;}
.va-m{vertical-align:middle !important;}
.va-m-c>*{vertical-align:middle !important;}
.va-m-cc *{vertical-align:middle !important;}
.va-b{vertical-align:bottom !important;}
.va-b-c>*{vertical-align:bottom !important;}
.va-b-cc *{vertical-align:middle !important;}
.w-100p{width:100% !important}

/* @util */
.break{word-break:break-all !important;word-wrap:break-word !important;}
.no-br{white-space:nowrap;}
.no-space{font-size:0 !important;line-height:0 !important;}
.center{margin:0 auto !important;}
.spread-1>*{margin-left:1px;margin-right:1px;}
.spread-2>*{margin-left:2px;margin-right:2px;}
.spread-3>*{margin-left:3px;margin-right:3px;}
.spread-4>*{margin-left:4px;margin-right:4px;}
.spread-5>*{margin-left:5px;margin-right:5px;}
.spread-6>*{margin-left:5px;margin-right:6px;}
.spread-7>*{margin-left:5px;margin-right:7px;}
.spread-8>*{margin-left:5px;margin-right:8px;}
.spread-9>*{margin-left:5px;margin-right:9px;}
.spread-10>*{margin-left:5px;margin-right:10px;}
.spread-l1>*{margin-left:1px;}
.spread-l2>*{margin-left:2px;}
.spread-l3>*{margin-left:3px;}
.spread-l4>*{margin-left:4px;}
.spread-l5>*{margin-left:5px;}
.spread-l10>*{margin-left:10px;}
.spread-l15>*{margin-left:15px;}
.spread-l20>*{margin-left:20px;}
.spread-r1>*{margin-right:1px;}
.spread-r2>*{margin-right:1px;}
.spread-r3>*{margin-right:1px;}
.spread-r4>*{margin-right:1px;}
.spread-r5>*{margin-right:1px;}
.spread-r10>*{margin-right:10px;}
.spread-r15>*{margin-right:15px;}
.spread-r20>*{margin-right:20px;}
.indent{margin-left:1em;position:relative;}
.fly_w{padding-left:1.5em !important;position:relative;}
.fly{position:absolute;left:0px;}

/* ir v1.8 */
/*
line-height:0; all font-size:0; ie7
*/
.ir{overflow:hidden;line-height:0 !important;font-size:0 !important;position:relative;text-indent:-10000px;display:block;}
.ir *{position:absolute;left:-10000px;top:-10000px;margin:0;padding:0;}

/* @clearfix */
* html .clfix { height: 1%; overflow: visible;} /* float clearing for IE6 */
*+html .clfix{ min-height: 1%;} /* float clearing for IE7 */
.clfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;} /* float clearing for everyone else */

/* @float left*/
.c-b{clear:both !important;}
.f-l{float:left !important;}
* html .f-l-c{ height: 1%; overflow: visible;} /* float clearing for IE6 */
*+html .f-l-c{ min-height: 1%;} /* float clearing for IE7 */
.f-l-c:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;} /* float clearing for everyone else */
.f-l-c>* {float:left;}

* html .f-l-cc{ height: 1%; overflow: visible;} /* float clearing for IE6 */
*+html .f-l-cc{ min-height: 1%;} /* float clearing for IE7 */
.f-l-cc:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;} /* float clearing for everyone else */
.f-l-cc * {float:left;}

/* @float right*/
.f-r{float:right !important;}
* html .f-r-c{ height: 1%; overflow: visible;} /* float clearing for IE6 */
*+html .f-r-c{ min-height: 1%;} /* float clearing for IE7 */
.f-r-c:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;} /* float clearing for everyone else */
.f-r-c>* {float:left;}

* html .f-r-cc{ height: 1%; overflow: visible;} /* float clearing for IE6 */
*+html .f-r-cc{ min-height: 1%;} /* float clearing for IE7 */
.f-r-cc:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;} /* float clearing for everyone else */
.f-r-cc * {float:left;}

/* @font */
.td-u{text-decoration:underline !important;}
.fs-i{font-style:italic !important;}
.fw-n{font-weight:normal !important;}
.fw-b{font-weight:bold !important;}

.fs-0{font-size:0 !important;}
.fs-0-c>*{font-size:0 !important;}
.fs-0-cc *{font-size:0 !important;}
.fs-11{font-size:11px !important;}
.fs-12{font-size:12px !important;}
.fs-13{font-size:13px !important;}
.fs-14{font-size:14px !important;}
.fs-15{font-size:15px !important;}
.fs-16{font-size:16px !important;}
.fs-17{font-size:17px !important;}
.fs-18{font-size:18px !important;}
.fs-19{font-size:19px !important;}
.fs-20{font-size:20px !important;}

/* @color*/
.bd-black{border:solid 1px black !important;}
.bd-gray{border:solid 1px gray !important;}
.bd-silver{border:solid 1px silver !important;}
.bd-gainsboro{border:solid 1px gainsboro !important;}
.bd-whitesmoke{border:solid 1px whitesmoke !important;}

.bg-black{background:black !important;}
.bg-gray{background:gray !important;}
.bg-silver{background:silver !important;}
.bg-gainsboro{background:gainsboro !important;}
.bg-whitesmoke{background:whitesmoke !important;}

.line-black{background:black;height:1px;}
.line-gray{background:gray;height:1px;}
.line-silver{background:silver;height:1px;}
.line-gainsboro{background:gainsboro;height:1px;}
.line-whitesmoke{background:whitesmoke;height:1px;}
.line-red{background:red;height:1px;}
.line-red2{background:#df1515;height:1px;}
.line-blue{background:blue;height:1px;}
.line-blue2{background:#1a6ea4;height:1px;}
.line-green{background:green;height:1px;}
.line-green2{background:green;height:1px;}
.line-orange{background:orange;height:1px;}
.line-orange2{background:orange;height:1px;}
.line-skyblue{color:skyblue !important;}
.line-skyblue2{color:#007bca !important;}
.line-violet{background:violet;height:1px;}
.line-violet2{background:darkviolet;height:1px;}
.line-brown{background:brown;height:1px;}
.line-brown2{background:brown;height:1px;}

.fc-black{color:black !important;}
.fc-gray{color:gray !important;}
.fc-silver{color:silver !important;}
.fc-gainsboro{color:gainsboro !important;}
.fc-whitesmoke{color:whitesmoke !important;}
.fc-red{color:red !important;}
.fc-red2{color:#df1515 !important;}
.fc-blue{color:blue !important;}
.fc-blue2{color:#1a6ea4 !important;}
.fc-green{color:green !important;}
.fc-green2{color:green !important;}
.fc-orange{color:orange !important;}
.fc-orange2{color:orange !important;}
.fc-skyblue{color:skyblue !important;}
.fc-skyblue2{color:#007bca !important;}
.fc-violet{color:violet !important;}
.fc-violet2{color:darkviolet !important;}
.fc-brown{color:brown !important;}
.fc-brown2{color:brown !important;}

/* @margin padding */
.mg-0{margin:0px !important;}
.mt-0{margin-top:0px !important;}.mt-1{margin-top:1px !important;}.mt-2{margin-top:2px !important;}.mt-3{margin-top:3px !important;}.mt-4{margin-top:4px !important;}.mt-5{margin-top:5px !important;}.mt-6{margin-top:6px !important;}.mt-7{margin-top:7px !important;}.mt-8{margin-top:8px !important;}.mt-9{margin-top:9px !important;}.mt-10{margin-top:10px !important;}.mt-15{margin-top:15px !important;}.mt-20{margin-top:20px !important;}.mt-25{margin-top:25px !important;}.mt-30{margin-top:30px !important;}.mt-35{margin-top:35px !important;}.mt-40{margin-top:40px !important;}.mt-45{margin-top:45px !important;}.mt-50{margin-top:50px !important;}.mt-60{margin-top:60px !important;}.mt-70{margin-top:70px !important;}.mt-80{margin-top:80px !important;}.mt-90{margin-top:90px !important;}.mt-100{margin-top:100px !important;}.mt-150{margin-top:150px !important;}.mt-200{margin-top:200px !important;}
.mb-0{margin-bottom:0px !important;}.mb-1{margin-bottom:1px !important;}.mb-2{margin-bottom:2px !important;}.mb-3{margin-bottom:3px !important;}.mb-4{margin-bottom:4px !important;}.mb-5{margin-bottom:5px !important;}.mb-6{margin-bottom:6px !important;}.mb-7{margin-bottom:7px !important;}.mb-8{margin-bottom:8px !important;}.mb-9{margin-bottom:9px !important;}.mb-10{margin-bottom:10px !important;}.mb-15{margin-bottom:15px !important;}.mb-20{margin-bottom:20px !important;}.mb-25{margin-bottom:25px !important;}.mb-30{margin-bottom:30px !important;}.mb-35{margin-bottom:35px !important;}.mb-40{margin-bottom:40px !important;}.mb-45{margin-bottom:45px !important;}.mb-50{margin-bottom:50px !important;}.mb-60{margin-bottom:60px !important;}.mb-70{margin-bottom:70px !important;}.mb-80{margin-bottom:80px !important;}.mb-90{margin-bottom:90px !important;}.mb-100{margin-bottom:100px !important;}.mb-150{margin-bottom:150px !important;}.mb-200{margin-bottom:200px !important;}
.ml-0{margin-left:0px !important;}.ml-1{margin-left:1px !important;}.ml-2{margin-left:2px !important;}.ml-3{margin-left:3px !important;}.ml-4{margin-left:4px !important;}.ml-5{margin-left:5px !important;}.ml-6{margin-left:6px !important;}.ml-7{margin-left:7px !important;}.ml-8{margin-left:8px !important;}.ml-9{margin-left:9px !important;}.ml-10{margin-left:10px !important;}.ml-15{margin-left:15px !important;}.ml-20{margin-left:20px !important;}.ml-25{margin-left:25px !important;}.ml-30{margin-left:30px !important;}.ml-35{margin-left:35px !important;}.ml-40{margin-left:40px !important;}.ml-45{margin-left:45px !important;}.ml-50{margin-left:50px !important;}.ml-60{margin-left:60px !important;}.ml-70{margin-left:70px !important;}.ml-80{margin-left:80px !important;}.ml-90{margin-left:90px !important;}.ml-100{margin-left:100px !important;}.ml-150{margin-left:150px !important;}.ml-200{margin-left:200px !important;}
.mr-0{margin-right:0px !important;}.mr-1{margin-right:1px !important;}.mr-2{margin-right:2px !important;}.mr-3{margin-right:3px !important;}.mr-4{margin-right:4px !important;}.mr-5{margin-right:5px !important;}.mr-6{margin-right:6px !important;}.mr-7{margin-right:7px !important;}.mr-8{margin-right:8px !important;}.mr-9{margin-right:9px !important;}.mr-10{margin-right:10px !important;}.mr-15{margin-right:15px !important;}.mr-20{margin-right:20px !important;}.mr-25{margin-right:25px !important;}.mr-30{margin-right:30px !important;}.mr-35{margin-right:35px !important;}.mr-40{margin-right:40px !important;}.mr-45{margin-right:45px !important;}.mr-50{margin-right:50px !important;}.mr-60{margin-right:60px !important;}.mr-70{margin-right:70px !important;}.mr-80{margin-right:80px !important;}.mr-90{margin-right:90px !important;}.mr-100{margin-right:100px !important;}.mr-150{margin-right:150px !important;}.mr-200{margin-right:200px !important;}
.pd-0{padding:0px !important;}
.pt-0{padding-top:0px !important;}.pt-1{padding-top:1px !important;}.pt-2{padding-top:2px !important;}.pt-3{padding-top:3px !important;}.pt-4{padding-top:4px !important;}.pt-5{padding-top:5px !important;}.pt-6{padding-top:6px !important;}.pt-7{padding-top:7px !important;}.pt-8{padding-top:8px !important;}.pt-9{padding-top:9px !important;}.pt-10{padding-top:10px !important;}.pt-15{padding-top:15px !important;}.pt-20{padding-top:20px !important;}.pt-25{padding-top:25px !important;}.pt-30{padding-top:30px !important;}.pt-35{padding-top:35px !important;}.pt-40{padding-top:40px !important;}.pt-45{padding-top:45px !important;}.pt-50{padding-top:50px !important;}.pt-60{padding-top:60px !important;}.pt-70{padding-top:70px !important;}.pt-80{padding-top:80px !important;}.pt-90{padding-top:90px !important;}.pt-100{padding-top:100px !important;}.pt-150{padding-top:150px !important;}.pt-200{padding-top:200px !important;}
.pb-0{padding-bottom:0px !important;}.pb-1{padding-bottom:1px !important;}.pb-2{padding-bottom:2px !important;}.pb-3{padding-bottom:3px !important;}.pb-4{padding-bottom:4px !important;}.pb-5{padding-bottom:5px !important;}.pb-6{padding-bottom:6px !important;}.pb-7{padding-bottom:7px !important;}.pb-8{padding-bottom:8px !important;}.pb-9{padding-bottom:9px !important;}.pb-10{padding-bottom:10px !important;}.pb-15{padding-bottom:15px !important;}.pb-20{padding-bottom:20px !important;}.pb-25{padding-bottom:25px !important;}.pb-30{padding-bottom:30px !important;}.pb-35{padding-bottom:35px !important;}.pb-40{padding-bottom:40px !important;}.pb-45{padding-bottom:45px !important;}.pb-50{padding-bottom:50px !important;}.pb-60{padding-bottom:60px !important;}.pb-70{padding-bottom:70px !important;}.pb-80{padding-bottom:80px !important;}.pb-90{padding-bottom:90px !important;}.pb-100{padding-bottom:100px !important;}.pb-150{padding-bottom:150px !important;}.pb-200{padding-bottom:200px !important;}
.pl-0{padding-left:0px !important;}.pl-1{padding-left:1px !important;}.pl-2{padding-left:2px !important;}.pl-3{padding-left:3px !important;}.pl-4{padding-left:4px !important;}.pl-5{padding-left:5px !important;}.pl-6{padding-left:6px !important;}.pl-7{padding-left:7px !important;}.pl-8{padding-left:8px !important;}.pl-9{padding-left:9px !important;}.pl-10{padding-left:10px !important;}.pl-15{padding-left:15px !important;}.pl-20{padding-left:20px !important;}.pl-25{padding-left:25px !important;}.pl-30{padding-left:30px !important;}.pl-35{padding-left:35px !important;}.pl-40{padding-left:40px !important;}.pl-45{padding-left:45px !important;}.pl-50{padding-left:50px !important;}.pl-60{padding-left:60px !important;}.pl-70{padding-left:70px !important;}.pl-80{padding-left:80px !important;}.pl-90{padding-left:90px !important;}.pl-100{padding-left:100px !important;}.pl-150{padding-left:150px !important;}.pl-200{padding-left:200px !important;}
.pr-0{padding-right:0px !important;}.pr-1{padding-right:1px !important;}.pr-2{padding-right:2px !important;}.pr-3{padding-right:3px !important;}.pr-4{padding-right:4px !important;}.pr-5{padding-right:5px !important;}.pr-6{padding-right:6px !important;}.pr-7{padding-right:7px !important;}.pr-8{padding-right:8px !important;}.pr-9{padding-right:9px !important;}.pr-10{padding-right:10px !important;}.pr-15{padding-right:15px !important;}.pr-20{padding-right:20px !important;}.pr-25{padding-right:25px !important;}.pr-30{padding-right:30px !important;}.pr-35{padding-right:35px !important;}.pr-40{padding-right:40px !important;}.pr-45{padding-right:45px !important;}.pr-50{padding-right:50px !important;}.pr-60{padding-right:60px !important;}.pr-70{padding-right:70px !important;}.pr-80{padding-right:80px !important;}.pr-90{padding-right:90px !important;}.pr-100{padding-right:100px !important;}.pr-150{padding-right:150px !important;}.pr-200{padding-right:200px !important;}

/* tooltip */
.tip-yellow{background:#ffffe1;border:solid 1px black;padding:0px 4px 2px 4px;z-index:100000;}
.tip-yellow *{color:black;}

/*바로가기*/
.baro{position:absolute;width:100%;text-align:center;top:-10000px;left:0;background:#def;font-weight:bold;font-size:14px;text-decoration:none;color:navy !important;padding:12px 0;z-index:11;text-decoration:underline !important;}
.baro:focus, .baro:active{top:0px;}

/*팝업 (웹접근성)*/
.cf_pop{text-align: center;background: #ffa;border: solid;border: solid 1px silver;padding: 3px;display:none;}
.cf_pop strong{color:blue;font-weight:bold;}

/*html5*/
/*header,footer,section,article,nav,details,summary,figcaption{margin:0;padding:0;}*/

/*form*/
input[type=text]
,input[type=""]
,input[type=password]
,input[type=file]
,input[type=email]
{border:solid 1px silver;height:21px;line-height:21px;vertical-align:middle;text-indent:5px;}
input[type=checkbox]{vertical-align:middle;}
input[type=radio]{vertical-align:middle;margin-top:0px;margin-right:3px;}
select{border:solid 1px silver;height:21px;line-height:21px;vertical-align:middle;}
textarea{border:solid 1px silver;padding-left:5px !important;}
label{vertical-align:middle;margin-top:1px !important;display:inline-block;}

/*pre 줄바꿈*/
pre{
white-space: pre-wrap; /* CSS3 */
white-space: -moz-pre-wrap; /* Mozilla, post millennium */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}